<h1>How to fill out the Ingredients and Steps field correcctly</h1>
<br>
<br>
<h1>Ingredients</h1>
<ul>
    <li>-Bread</li>
    <li>-Sliced Lunch Meat</li>
    <li>-Cheese</li>
    <li>-Mayo</li>
</ul>

<h1>Steps</h1>
<ul>
    <li>-layout bread</li>
    <li>-spread mayo on bread</li>
    <li>-put meat on bread</li>
    <li>-put cheese on top of meat</li>
    <li>-combine all together</li>
    <li>-Eat!</li>
</ul>
<br>
<br>

<h3>To make your recipe look like above you must enter your Ingredients and Steps like below.</h3>
<p>=> *Bread *Sliced Lunch Meat *Cheese *Mayo</p>
<p>=> *layout bread *put meat on bread *put cheese on top of meat *combine all together *Eat!</p>
<br>
<p>All you have to do is put a * infront of each ingredient or step. Ecookbook will take care of the rest of you!</p>

<form method='get' action='/recipes/new'>
<button type='submit' value=submit>Back to Create Recipe</button>
</form>
