<style>
.wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }
  a,
a:focus,
a:hover {
  color: black;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* Header */
.masthead {
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: black;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: lightgrey;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: grey;
  border-bottom-color: lightgrey;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

body {
  padding-top: 1rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

</style>
<%if session[:user_id]%>
<%=flash[:message]%>
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">EcookBook</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/signup">Account</a>

        <a class="nav-link active" href="/recipes/new">Create Recipe</a>
        <a class="nav-link" href="/recipes">All Recipes</a>
        <a class="nav-link" href="/recipes/random">Surprise!</a>
        <a class="nav-link" href="/logout">Logout</a>

      </nav>
    </div>
  </header>



<br>
<br>
<br>



<h1 class="display-3">Create Recipe</h1>
  <img class="rounded mx-auto d-block" src="https://www.flaticon.com/premium-icon/icons/svg/1021/1021409.svg" alt="" width="84" height="84">

<br>
<form method='post' action='/recipes' id='new_recipe'>
<div class="form-group">
<p class="lead">
<label for="recipe_name">Name:</label>
</p>
<input type="text" name="recipe[name]" id="recipe_name" class="form-control" placeholder="Name"><br>
</div>
<div class="form-group">
<p class="lead">
<label for="ingredients">Ingredients:</label>
</p>
<small class="text-muted">IMPORTANT: Enter Ingredients as a bulleted list with * in front of each ingredient. (<a href="/recipes/example">Example</a>)</small>
<textarea name="recipe[ingredients]" class="form-control" id="ingredients" row="3" placeholder="*ingredient 1 *ingredient 2 *ingredient 3"></textarea><br>
</div>
<div class="form-group">
<p class="lead">
<label for="steps">Steps:</label><br>
</p>
<small class="text-muted">IMPORTANT: Enter Steps as a bulleted list with * in front of each step. (<a href="/recipes/example" id="example">Example</a>)</small>

<textarea name="recipe[steps]" id="steps" class="form-control" rows="3" placeholder="*step 1 *step 2 *step 3"></textarea><br>
</div>
<div class="form-group">
<label for="description">Description:</label><br>
<textarea name="recipe[description]" id="description" class="form-control" rows="3" placeholder="Enter Description"></textarea><br>
</div>
<br>

<%@recipeType.each do |t|%>
<input type='radio' id="<%t.name%>" name="recipe[recipeType_id]" value='<%=t.id%>'>
<label for='<%t.name%>'><%=t.name%></label>
<% end %>
<br>
<input type="submit" value="Create" class="btn btn-outline-dark"><br>
<br>

<input type="hidden" name="recipe[user_id]" value="<%=session[:user_id]%>">

</form>
<% else %>
<p class="lead">You must be logged in to create an account!<p>
<a href="/login" class="btn btn-primary">Login</a>
<a href="/signup" class="btn btn-dark">Sign up</a><br>
<br>
<a href="/" class="btn btn-primary btn-lg">Homepage</a>
<%end%>








