<style>
body{
      display: -ms-flexbox;

      display: flex;

}
</style>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">EcookBook</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/signup">Create an Account</a>
        <a class="nav-link" href="recipes">All Recipes</a>
        <a class="nav-link" href="recipes/random">Surprise!</a>
      </nav>
    </div>
  </header>

    <main role="main" class="inner cover">
    <h1 class="display-2"><strong>Welcome to EcookBook!</strong></h1>
    <p><em> Cooking is hard. Constantly finding new recipes and rembering old ones can be stressful. It doesn't have to be that way. Ecookbook is designed to make your life easier. This is your one stop spot to store your recipes and even find new ones that users like you are currently cooking!</em></p>


<div class="text-center">
      <p class="lead">Login or Signup so we can start cooking!</p>

    <p class="lead">
      <a href="/login" class="btn btn-lg btn-secondary">Login!</a>
        <a href="/signup" class="btn btn-lg btn-secondary">Sign Up!</a>

    </p>
    </div>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
    <small>&copy; 2020 <strong>Ecookbook</strong></small>
    </div>
  </footer>
</div>

